<extend name="Order/personalEdit"/>
<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="person-section clearfix">
		<!--左分类-->
        <include file="Public/assets_header"/>
		<!--内容-->
		<div class="mordrMain fr modpaw-content-wrap">
			<div class="title clearfix">
				<ul class="clearfix fl nav">
					<li class="fl active hover"><a href="javascript:;">修改密码</a></li>
				</ul>
			</div>
			<form action="{:U('UserSet/password_edit')}" method="post" onsubmit="return check_pwd();">
				<ul class="content-main">
					<li class="clearfix">
						<span class="fl">当前登录密码：</span>
						<input type="password" name="reg_pwd" id="reg_pwd" class="txt fl" placeholder="请输入当前登录密码">
					</li>
					<li class="clearfix">
						<span class="fl">新的登录密码：</span>
						<input type="password" name="new_pwd" id="new_pwd" class="txt fl" placeholder="只能输入6-20个字母、数字、下划线">
					</li>
					<li class="clearfix">
						<span class="fl">确认新的登录密码：</span>
						<input type="password" id="new_pwd1" class="txt fl" placeholder="请再次输入新密码">
					</li>
					<li class="clearfix">
						<span class="fl"></span>
						<input type="submit" class="btn fl">
					</li>
				</ul>
			</form>
		</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->
<script src="__JS__/userset/address.js"></script>
<script>
	$('#new_pwd').bind('blur', function(){
		var password = $('#new_pwd').val();
		if (password == '') {
			layer.tips('请填写密码!','#new_pwd');
			return false;
		};
		if (password.length<6) {
			layer.tips('密码不能小于6位!','#new_pwd');
			return false;
		};
		if (password.length>20) {
			layer.tips('密码不能大于20位!','#new_pwd');
			return false;
		};
		if (/^(?:\d+|[a-zA-Z]+|[!@#$%^&*]+)$/.test(password)) {
            layer.tips('密码强度弱,有盗号风险!','#new_pwd');
		}else if (/^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)(?![a-zA-z\d]+$)(?![a-zA-z!@#$%^&*]+$)(?![\d!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$/.test(password)) {
			layer.tips('密码强度强!','#new_pwd');
		}else if (/^(?![a-zA-z]+$)(?!\d+$)(?![!@#$%^&*]+$)[a-zA-Z\d!@#$%^&*]+$/.test(password)) {
			layer.tips('密码强度中!','#new_pwd');
		};		
		return true;
	}); 
</script>
</block>