<extend name="Order/personalEdit"/>
<!-- 清空头部广告 -->
<block name="ad_top"></block>

<block name='content'>
	<div class="person-section clearfix">
		
		<!--左分类-->
        <include file="Public/assets_header"/>
		<!--内容-->
		<div class="mordrMain fr">
			<div class="title clearfix">
				<ul class="clearfix fl">
					<li class="fl hover"><a href="javascript:;">订单回收站 (<i>{$count.recycle_count}</i>)</a></li>
				</ul>
			</div>
			<!--订单搜索范围查找-->
			<div style="width:100%;overflow: hidden;margin-top: 10px;">
				<div style="width: 5%;float: left;text-align: right;line-height: 25px;">说明:</div>
				<div style="width: 95%;float: left">
					<div style="text-indent: 5px;line-height: 25px;">1.只有已取消和完成的订单可以删除。</div>
					<div style="text-indent: 5px;line-height: 25px;">2.被删除的订单将无法进行评价，晒单和申请售后等操作;如果想继续这些操作,可以先将被删除的订单还原。</div>
					<div style="text-indent: 5px;line-height: 25px;">3.订单被永久删除后无法还原。</div>
				</div>
			</div>
			<!--宝贝交易状态-->
			<div style="margin-top:10px;">
			<ol class="clearfix tradingStatus">
				<li class="fl six">宝贝</li>
				<li class="fl seven">订单详情</li>
				<li class="fl eight">收货人</li>
				<li class="fl eight">金额</li>
				<li class="fl eight">全部状态</li>
				<li class="fl eight">操作</li>
			</ol>
			</div>
			<!--page-->
			<div style="height:20px;">  
			</div>
			<!--订单-->
			<empty name="data">
				<div style="width:100%;margin-left:40%;font-size:30px;color:red;">亲!暂时没有数据!</div>
			<else/>
				<volist name="data" id="vo">
					<div id="rew{$vo.order_id}">
						<div class="myderCentent" id="del{$vo.order_sn_id}">
							<div class="ctitle clearfix">
								<label class="fl">
									<input type="checkbox">
									<span>{$vo.create_time|date="Y-m-d",###}</span>
								</label>
								<span class="fl sPent">
								<em>订单号：</em>
								<em>{$vo.order_sn_id}</em>
							</span>
								<i class="fr recycle" data-value="{$vo.order_sn_id}"></i>
							</div>
							<div class="con clearfix">
								<div class="fl clearfix conFl">
									<volist name="vo.goods" id="goods">
										<div class="conLoop">
											<div class="six clearfix fl">
												<div class="imgsPt fl">
													<img src="__SERVER__/{$goods.images}">
												</div>
												<div class="conRight fl">
													<a href="javascript:;">{$goods.title}</a>
													<p>商品编号：{$goods.goods_id}</p>
												</div>
											</div>
											<div class="two fl">￥{$goods.goods_price}</div>
											<div class="three fl">{$goods.goods_num}</div>
											<div class="nine fl">
												<a href="javascript:;" class="hover"></a>
											</div>
										</div>
									</volist>
								</div>
								<div class="fr clearfix conFringht">
									<div class="eight fl">
										<p>{$vo.realname}</p>
									</div>
									<div class="eight fl">
										<p>￥{$vo.price_sum}</p>
										<p>(含运费：￥{$vo.mail_area_monery})</p>
									</div>
									<div class="eight fl">
										<p>交易关闭</p>
										<a href="{:U('Order/order_details',array('id'=>$vo['order_id']))}" class="hover">订单详情</a>
									</div>
									<div class="eight fl details">
										<input type="hidden" value="{$vo.order_id}">
										<a href="javascript:;" class="hover recycle" onclick="recycle(this)" data-value="{$vo.order_id}">还原订单</a><br>
										<a href="{:U('Order/buy_again_order',array('id'=>$vo['order_id']))}" class="buy">立即购买</a>
									</div>
								</div>
							</div>
						</div>
					</div>

	            </volist>
            </empty>
			<div class="page">
				{$page}
			</div>
		</div>
		<!--右侧一键到顶 and 客服-->
		<include file="Order/personalHomeTop"/>
	</div>
	<!--尾部-->
<script src="__JS__/order/recycle.js"></script>	
<!-- <script src="js/header.js"></script> -->
<script src="__JS__/myOrder.js"></script>
<script src="__JS__/Calendar.js"></script>
	<script>
		function recycle(obj) {
			var id = $(obj).prev().val();
			parent.layer.confirm('真的要还原订单吗？', {
				btn: ['确认','取消'], //按钮
				shade: 0.5 //显示遮罩
			}, function(){
				$.post("/index.php/Home/Order/recycle_reduction", { "id": id},function(data){
					if(data == 1){
						parent.layer.msg('还原成功', { icon: 1, time: 1000 }, function(){
							$("#rew"+id).remove();
						});
					}else{
						parent.layer.msg('还原失败', {icon: 2, time: 2000 });
					}
				}, "json");
			},function(){
				// $("#del"+id+" td").css('border-top','0');
				// $("#del"+id+" td").css('border-bottom','1px solid #EFEFEF');
			});
		}

	</script>
</block>