<extend name="Public/publicHTML" />
<block name="nav"></block>


<block name="content">
    <link rel="stylesheet" href="__COMMON__/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="__COMMON__/bootstrap/css/font-awesome.min.css" />
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i> 供应商列表
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="navbar navbar-default">
                        <form id="search-form2" class="navbar-form form-inline"
                              method="post" action="{:U('index')}">
                            <div class="form-group">
                                <label for="input-order-id" class="control-label">供应商名称:</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="input-order-id"
                                           placeholder="搜索词" value="" name="name">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" id="button-filter search-order"
                                        type="submit">
                                    <i class="fa fa-search"></i> 筛选
                                </button>
                            </div>
                            <a href="{:U('add')}">
                                <button type="button" class="btn btn-primary pull-right">
                                    <i class="fa fa-plus"></i> 添加供应商
                                </button>
                            </a>
                            <!--<button type="button" class="btn btn-primary pull-right"-->
                                    <!--onclick="alertEdit('{:U('add')}','添加品牌', 600, 600)">-->
                                <!--<i class="fa fa-plus"></i> 添加品牌-->
                            <!--</button>-->
                        </form>
                    </div>

                    <div id="ajax_return">

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th class="sorting text-left">ID</th>
                                    <th class="sorting text-left">供货商名称</th>
                                    <th class="sorting text-left">联系人名称</th>
                                    <th class="sorting text-left">联系电话</th>
                                    <th class="sorting text-left">地址</th>
                                    <th class="sorting text-left">状态</th>
                                    <th class="sorting text-left">创建时间</th>
                                    <th class="sorting text-left">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <if condition="!empty($data)"> <foreach
                                        name="data" item="row">
                                    <tr>
                                        <td class="text-right">{$row.id}</td>
                                        <td class="text-left">{$row.name}</td>
                                        <td class="text-left">{$row.linkman}</td>

                                        <td class="text-left">{$row.mobile}</td>
                                        <td class="text-left">{$row.address}</td>
                                        <td>
                                            <img width="20" class="sort-control" height="20" data-id="{$row.id}" src="__COMMON__/img/<if condition='$row.status eq 1'>yes.png<else />cancel.png</if>" data-flag="<if condition='$row.status eq 1'>true<else />false</if>"/>
                                        </td>

                                        <td class="text-left">{$row.create_time|date='Y-m-d H:i:s', ###}</td>
                                        <td>
                                            <a href="{:U('edit',['id'=>$row['id']])}" class="btn btn-primary">详情</a>
                                            <a href="{:U('reAddressList',['id'=>$row['id']])}" class="btn btn-primary">退货地址</a>
                                            <a href="{:U('remove',['id'=>$row['id']])}" class="btn btn-danger">删除</a>
                                        </td>

                                    </tr>
                                </foreach> </if>
                                </tbody>
                            </table>
                        </div>

                        <div class="page">
                            <div class="col-sm-6 text-left"></div>
                            <div class="col-sm-6 text-right">{$page_show}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input type="hidden" id="common" value="__COMMON__"/>
    <script type="text/javascript" src="__COMMON__/js/alert.js"></script>
    <script>
        /**
         * 弹窗页面
         */
        function alertEdit (url, title, width, height) {
            width = typeof width === 'undefined' ? 500 : width;
            height = typeof height === 'undefined' ? 400 : height;

            if (!url) {
                layer.msg('来自网页的消息,未知错误');
                return false;
            }
            title = title ? title : '添加关键词';
            parent.layer.open({
                type: 2,
                shadeClose: true,
                shade: 0.5,
                area: [width + 'px', height + 'px'],
                title: title,
                content: url,
            });
        }

        //单击改变是否显示
        var bFlag = false;//用来js点击事件反应完成后，才执行第二次点击的事件
        $(".sort-control").on('click',function(){

            if(bFlag == true)return;
            bFlag = true;
            var _this = $(this);
            var id = _this.attr("data-id");
            //获取域名
            var common = $("#common").val();
            var data_flag = _this.attr("data-flag");
            var data = {id:id,data_flag:data_flag};
            var url = '{:U("changStatus")}';
            $.getJSON(url,data,function(json){
                if(json == "no"){
                    _this.attr("src",common+"/img/cancel.png");
                    _this.attr("data-flag","false");
                    bFlag = false;
                }else {
                    _this.attr("src", common+"/img/yes.png");
                    _this.attr("data-flag", "true");
                    bFlag = false;
                }
            });
        });
    </script>

</block>

