<extend name="Public/publicHTML" />
<block name="content">

    <form name="myform" action="{:U('sf_save')}" method="post">
        <!--         onsubmit="return check()";-->
        <div class="list">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"
                   class="details">
                <tbody>
                <tr>
                    <td width="32%">
                        <label class="label">
                            <div align="right">身份类型：</div>
                        </label>
                    </td>
                    <td width="68%"><input type="text" name="sf_shuxin" value="{$data['sf_shuxin']}"></td>
                </tr>
                <tr>
                    <td width="32%">
                        <label class="label">
                            <div align="right">红包额度：</div>
                        </label>
                    </td>
                    <td width="68%"><input type="text" name="sf_hongbao" value="{$data['sf_hongbao']}"></td>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="footer">
            <div class="save_button">
                <input type="hidden" name="sf_id" value="{$data['sf_id']}" />
                <button type="submit" class="button" style="width: 180px;">保
                    存</button>
            </div>
        </div>
    </form>
</block>